.holder{
    width: 300px;
    border-radius: 1px;
    margin: 8px;
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow: 0 0 2px 1px #00000045;
    background: rgb(32 32 32);
    transition: all 1s;
    padding-left: 12px;
    max-height: 120px;
}

@media(max-width:420px){
    .holder{
        width: 300px;
        box-shadow: 0 0 2px 1px #00000045;
        border-radius: 1px;
        margin: 5px;
        margin-top: 6px;
        background: rgb(32 32 32);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px;
        -webkit-transition: all 1s;
        transition: all 1s;
        padding-left: 12px;
        max-height: 120px;
        width: 90%;
    }   
}


.data_row{
    width: 100%;
    padding: 1px;
    display: flex;
    flex-direction: row;
    margin-bottom: 3px;
}
.data_row .right{
    width:30px;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #282828;
    flex-shrink: 0;

}

.data_row .right img{
    max-width: 92%;
    max-height: 92%;
    filter: invert(0.2);
}

.data_row .left{
    flex: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    direction: rtl;
    font-size: 11px;
    font-family: system-ui;
    color: #e4e4e4cc;
    padding-bottom: 0px;
    padding-right: 10px;
    font-weight: 600;
    word-break: break-all;
    line-height: 16px;
}
.data_row .email{
    font-weight: 500;
    font-size: 12px;
}
.data_row .key_word{
    flex: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    direction: rtl;
    font-size: 11px;
    font-family: system-ui;
    color: #7b7b7bd4;
    padding-bottom: 0px;
    padding-right: 10px;
}



